<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sramar.dialogs" >


    <uses-sdk android:targetSdkVersion="28" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.INTERNET" />


    <application>
        <provider
            android:name=".defindViews.Dialog.MFileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>


        <receiver android:name=".defindViews.Dialog.UpdateReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>


    </application>
</manifest>
